/* Flexbox Layout for Desktop */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
  min-height: 0;
}

article {
  flex: 2;
  overflow-y: auto;
  padding: 10px;
  background-color: #f9f9f9;
}

aside {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #e6f2ff;
}

header, footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
